<!DOCTYPE html>
<html>
<head>
  <title>合気道上海秋风馆</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=gkm8vBQ9yIkflKEqatyGxmRE"></script>
</head>
<body>

<%= yield %>

</body>
</html>
